html,
body {
    height: 100%;
}

body {
    background-color: #f4efe9;
    margin: 0;
}

/* 画面本体 */
.login {
    text-align: center;
    padding-bottom: 60px;
}

/* 右上 register ボタン（この画面だけ） */
.login-switch {
    position: fixed;
    top: 28px;
    right: 50px;

    padding: 4px 30px;
    font-size: 14px;
    font-family: "Tinos", serif;

    color: #c2b5a6;
    background: #f7f3ee;
    border: 1px solid #e6ddd2;
    border-radius: 2px;

    text-decoration: none;
    line-height: 1.6;
}

.login-switch:hover {
    opacity: 0.8;
}



/* タイトル */
.login__title {
    font-family: "Tinos", serif;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #8b7c6d;
    margin: 30px 0;
}

/* カード */
.login__card {
    width: 520px;
    /* register と揃える（必要なら調整） */
    margin: 0 auto;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 40px;
}

/* フォーム（中身を中央寄せ） */
.login__form {
    display: flex;
    flex-direction: column;
    gap: 28px;

    max-width: 420px;
    margin: 0 auto;
}

/* 入力グループ */
.login__group {
    text-align: left;
}

/* ラベル */
.login__label {
    display: block;
    font-size: 14px;
    color: #8b7d6b;
    margin-bottom: 8px;
}

/* 入力欄 */
.login__input {
    width: 100%;
    padding: 12px;
    border: none;
    background-color: #f6f6f6;
    font-size: 14px;
}

.login__input::placeholder {
    color: #bbb;
}

/* ボタン */
.login__button {
    margin: 0 auto;
    margin-top: 10px;
    padding: 8px 40px;
    background-color: #8b7d6b;
    color: #fff;
    border: none;
    font-size: 14px;
    cursor: pointer;
}

.login__button:hover {
    opacity: 0.9;
}

.login-form__error {
    color: red;
    font-size: 12px;
    margin-top: 6px;
}